:root {
    --box-dim: 400px
}

.colorDisplay {
    width: var(--box-dim);
    min-height: var(--box-dim);
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
}